<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src={% static 'js/jquery-3.7.1.min.js' %}></script>
</head>

<body>
    <div class="main-form">
        <form method="POST">
            {% csrf_token%}
            {% for form in forms %}
            <div>
                <label for="">{{form.label}}</label>
                <div>
                    <input type="{{form.field.widget.input_type}}" name="{{form.name}}" id=""
                        placeholder="{{form.label}}" value="{{form.value | default:'' }}">
                </div>
                {{ form.errors }}
            </div>
            {% endfor %}
            <div class="boton-edit">
                <input type="submit" value="Aceptar">
            </div>
            <div class="boton-edit-a">
                <a href="{% url 'ver' %}" class="btn">Cancelar</a>
            </div>


        </form>


    </div>
</body>

</html>