<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src={% static 'js/jquery-3.7.1.min.js' %}></script>
</head>

<body>

    <div class="barra">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'ver' %}"><img src={% static 'img/logo.png' %} alt="45px"
                        height="45px">POKEDÉX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Hola!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_form' %}">Agregar</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_vis' %}">Ver Pokemons</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="noBarra">
        <div class="inicio">
            <img src={% static 'img/Pokemon2.png' %} alt="" class="imgIni">
            <div class="textoInicio">
                <h1>Bienvenido!</h1>
                <p>Te damos la bienvenida a la Pokedéx en ella podrás ingresar a tus pokemones, eliminarlos, editarlos y
                    usar un buscador para ver si ya se encuentran registrados. </p>
                <div class="busqueda">
                    <form class="d-flex" method="GET" action="{% url 'busqueda' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Buscar por Nombre"
                            aria-label="Buscar" name="q">
                        <button class="btn btn-outline-danger" type="submit">Buscar</button>
                    </form>
                </div>
                <div class="boton-i">
                    <p> </p>
                    <a href="{% url 'ver_form' %}" class="btn btn-outline-danger">Agregar</a>
                    <a href="{% url 'ver_vis' %}" class="btn btn-outline-danger">Ver Pokemón</a>

                </div>
            </div>
        </div>
    </section>
    <footer class="bg-white py-5 ">
        <div class="container-text-light text-center"></div>
        <p>@Estefany Quezada</p>
        </div>
    </footer>
</body>

</html>